.quotes-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1100px;
    margin: auto;
    margin-top: 10vh;
    // border: 1px solid $greyStroke;
    gap: 29px 30px;
    .quote-item {
        max-width: 330px;
        min-width: 250px;
        width: 30%;
        border-radius: $borderRadius;
        border: 1px solid $greyStroke;
        background-color: $bgColor;
        padding: 25px 30px;
        .icon{
            font-size: 2em;
            color: $greyStroke;
        }
        p.quote{
            margin: 0;
        }
        p.author{
            margin: 0;
            color: $cyan;
            font-style: italic;
            padding-top: 20px;
        }
    }
    @media (max-width: $lgbreakpoint) {
        gap: 20px 4%;
        .quote-item{
            width: 48%;
            max-width: initial;
        }
    }
    @media (max-width: $smBreakpoint) {
        .quote-item{
            width: 100%;
        }
    }
}
