main {
  .content {
    .search-bar {
      background-color: white;
      max-width: 715px;
      margin: auto;
      height: 66px;
      border-radius: $borderRadius;
      position: sticky;
      top: 20px;
      form {
        height: 100%;
        padding: 8px;
        display: flex;
        position: relative;
        label {
          width: 50px;
          color: $greyStroke;
          font-size: 1.8em;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: .8;
          flex-shrink: 0;
        }
        span.suggestion{
          position: absolute;
          color: $greyStroke;
          font-size: 1.1em;
          font-weight: 500;
          display: flex;
          align-items: center;
          height: calc(100% - 16px);
          left: 68px;
          // display: none;
          // border: 1px solid red;
        }
        input {
          width: 100%;
          border: none;
          outline: none;
          font-weight: 500;
          padding-left: 10px;
          padding-right: 10px;
          font-size: 1.1em;
          position: relative;
          background-color: transparent;
          &::placeholder {
            color: $greyStroke;
            font-weight: 300;
          }
        }
        button.clear {
          background-color: transparent;
          border: none;
          outline: none;
          cursor: pointer;
          color: $greyStroke;
          font-size: 1.5em;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            color: darken($greyStroke, 10%);
          }
        }
        button.search {
          background-color: $purple;
          border: none;
          outline: none;
          cursor: pointer;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 700;
          border-radius: $borderRadius;
          width: 134px;
          flex-shrink: 0;
          transition: all .3s;
          .icon{
            display: none;
          }
          &:hover {
            background-color: darken($purple, 10%);
          }
        }
        .history{
          position: absolute;
          top: 70px;
          left: 68px;
          width: 500px;
          background-color: white;
          color: black;
          border-radius: $borderRadius;
          span{
            font-size: 13px;
            color: $greyStroke;
            // margin-left: 10px;
            display: flex;
            align-items: center;
            gap: 5px;
            margin: 10px;
            .icon{
              font-size: 1.8em;
            }
          }
          ul{
            list-style: none;
            padding: 0;
            margin: 0;
            max-height: 300px;
            height: min-content;
            overflow-y: auto;
            li{
              padding: 10px;
              cursor: pointer;
              font-weight: 500;
              &:hover{
                background-color: rgb(243, 243, 243);
              }
            }
          }
        }
      }
      &.focused{
        outline: 2px;
      }
      @media (max-width: $mdBreakpoint) {
        height: 55px;
        form{
          padding: 4px;
          label{
            display: none;
          }
          span.suggestion{
            font-size: 16px;
            left: 14px;
            height: calc(100% - 9px);
          }
          input{
            font-size: 16px;
          }
          button.search{
            width: 47px;
            .icon{
              display: inline;
              font-size: 18px;
            }
            .text{
              display: none;
            }
          }
          .history{
            top: 60px;
            left: 0;
            width: 100%;
          }
        }
      }
    }
  }
}
